*.vscode
*.prettierrc
C:\Users\AnujKumarSingh\Desktop\JavaScript\nodeJs_practice\package_practice\node_modules
C:\Users\AnujKumarSingh\Desktop\JavaScript\nodeJs_practice\practice_files\sample1.html
C:\Users\AnujKumarSingh\Desktop\JavaScript\nodeJs_practice\practice_files\sampleImage.png